.main-page-color {
	background-color: #000000;
}

.main-container {
	margin-right: 5%;
	margin-left: 5%;
}

div.name-container {
	width: 80%;
	display: block;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

div.nav-container {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 400px;
	width: 80%;
}

.icon-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.icon-images {
	display: inline-block;
	width: 30%;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.triangle-container {
	height: 300px;
	width: 25%;
	display: block;
	margin: auto;
	margin-top: 5%;
}

.hidden {
	display: none;
}

h1.name-text {
	color: #FFFFFF;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin-bottom: 0%;
}



 

/*on screens that are smaller it shows name 
then the four clickable boxes below it.*/